<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kahoot</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/libs/bootstrap.min.js" ></script>
</head>
<body>
    <form action="/sala" method="GET">
    <table align="center" cellpadding="300px">
            <tr>
                <td>
                    <input type="submit" value="Create Sala"/>
                </td>
            </tr>
    </table>
    </form>
</body>
</html>
