<head>
    <meta charset="UTF-8">
    <title>I ask</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/libs/bootstrap.min.js" ></script>

</head>
<body>
<form action="/sala" method="post">
    <table align="center">
        <tr>
            <td align="center">I ask</td>
        </tr>
        <tr >
            <td>
                <div class="input-group mb-3">
                  <input id="name" name="name" type="text" class="form-control" placeholder="nombre de la sala" aria-label="nombre de la sala" aria-describedby="basic-addon1"  >
                </div>

            </td>
        </tr>
        <tr>
            <td align="center"><input  type="submit" value="ENTER"/></td>
        </tr>
    </table>
</form>
</body>
</html>