<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kahoot</title>
    <script src="/static/js/libs/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
<form action="/verify_pin" method="POST">
    <table>
        <tr>
            <td>
                <label>PIN</label>
            </td>
            <td>
                <input type="text" name="pin"/>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <input type="submit" value="ENTER"/>
            </td>
        </tr>
    </table>
</form>

</body>
</html>
