<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dbpKahoot</title>
</head>
<body>
<div align="center">

<form action="/do_register" method="POST">
    <table>
        <tr>
            <td>
                <label>Username</label>
            </td>
            <td>
                <input type="text" name="username" id="username"/>
            </td>
        </tr>
        <tr>
            <td>
                <label>Name</label>
            </td>
            <td>
                <input type="text" name="name" id="name"/>
            </td>
        </tr>
        <tr>
            <td>
                <label>Fullname</label>
            </td>
            <td>
                <input type="text" name="fullname" id="fullname"/>
            </td>
        </tr>
        <tr>
            <td>
                <label>Password</label>
            </td>
            <td>
                <input type="password" name="password" id="password"/>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Register" id="register"/>
            </td>
        </tr>
    </table>
</form>
</div>
</body>
</html>

