<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>I ask</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/libs/bootstrap.min.js" ></script>

</head>
<body>
<form action="/name_sala" method="get">
    <table align="center">
        <tr>
            <td align="center">I ask</td>
        </tr>
        <tr>
            <td align="center"><input type="submit" value="create sala  "/></td>
        </tr>
    </table>
</form>
</body>
</html>